<app-header title="Tarefas" />

<ion-content scroll-y="false">
  <div class="container">
    <div class="tasks">
      <div class="task-header">
        <span>Tarefas</span>
      </div>
      <div class="task-main">
        @for (task of tasks(); track $index) {
          @if (!task.check) {
            <div class="task">
              <div class="container-check-name-description">
                <ion-checkbox class="task-check" (ionChange)="checkTask(task.id, true)" />
                <div class="task-container-name-description">
                  <span class="task-name">{{ task.name }}</span>
                  <span class="task-description">{{ task.description }}</span>
                </div>
                </div>
              <div class="container-delete" (click)="deleteTask(task.id)">
                <span class="material-symbols-outlined">delete</span>
              </div>
            </div>
          }
        }
      </div>
    </div>

    <div class="completed">
      <div class="task-header">
        <span>Completas</span>
      </div>
      <div class="task-main">
        @for (task of tasks(); track $index) {
          @if (task.check) {
            <div class="task">
              <div class="container-check-name-description">
                <ion-checkbox class="task-check" (ionChange)="checkTask(task.id, false)" [checked]="true" />
                <div class="task-container-name-description">
                  <span class="task-name">{{ task.name }}</span>
                </div>
              </div>
              <div class="container-delete" (click)="deleteTask(task.id)">
                <span class="material-symbols-outlined">delete</span>
              </div>
            </div>
          }
        }
      </div>
    </div>
    
    <ion-button class="btn-add" (click)="openTaskFormModal()">
      <span class="material-symbols-outlined">add</span>
    </ion-button>
  </div>
</ion-content>
