<app-header title="Tarefas" />

<ion-content scroll-y="false">
  <div class="container">
    <ion-searchbar [(ngModel)]="searchTerm" [debounce]="300" (ionInput)="search()" placeholder="Pesquisar tarefa..." />

    <div class="tasks">
      <div class="task-header">
        <span>Tarefas</span>
        @if (tasks().length > 0) {
          {{ tasks().length }}
        }
      </div>
      <div class="task-main">
        @for (task of filteredTasks; track $index) {
          <div class="task">
            <div class="container-check-name-description">
              <ion-checkbox class="task-check" (ionChange)="checkTask(task.id, true)" />
              <div class="task-container-name-description">
                <span class="task-name">{{ task.name }}</span>
                <span class="task-description">{{ task.description }}</span>
                @if (task.end) {
                  <span class="task-date">{{ task.end | date }}</span>
                }
              </div>
              </div>
            <div class="container-delete" (click)="deleteTask(task.id)">
              <span class="material-symbols-outlined">delete</span>
            </div>
          </div>
        }
      </div>
    </div>

    <div class="completed">
      <div class="task-header" (click)="toggleOpenCompletedTask()">
        <span>Completas</span>
        <span [class.rotate-up]="taskCompletedListOpen" [class.rotate-down]="!taskCompletedListOpen" class="material-symbols-outlined">keyboard_arrow_down</span>
      </div>
      @if (taskCompletedListOpen) {
        <div class="task-main">
          @for (task of completedTasks(); track $index) {
            <div class="task">
              <div class="container-check-name-description">
                <ion-checkbox class="task-check" (ionChange)="checkTask(task.id, false)" [checked]="true" />
                <div class="task-container-name-description">
                  <span class="task-name">{{ task.name }}</span>
                </div>
              </div>
              <div class="container-delete" (click)="deleteTask(task.id)">
                <span class="material-symbols-outlined">delete</span>
              </div>
            </div>
          }
        </div>
      }
    </div>
    
    <ion-button class="btn-add" (click)="openTaskFormModal()">
      <span class="material-symbols-outlined">add</span>
    </ion-button>
  </div>
</ion-content>
