<span class="day" [class]="{'today': today}">{{ menu().day | uppercase }}</span>

<div class="snack">
  <span class="description">MERENDA</span>
  <span class="name">{{ today }}</span>
</div>

<div class="lunch">
  <span class="description">ALMOÇO</span>
  <span class="name">{{ lunch.name }}</span>
</div>

<div class="btns">
  <span class="material-symbols-outlined" (click)="openAssessmentDialog(menu())">thumbs_up_down</span>
  <span class="material-symbols-outlined" (click)="openNutritionalInfoDialog()">info</span>
</div>